#contact {
  width: 100vw !important;
  padding: 0 !important;
  background: linear-gradient(
    246deg,
    rgba(144, 82, 5, 1) 0%,
    rgba(0, 0, 0, 1) 61%
  );
  color: white;
}
#contact .row {
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 100px;
}
#contact .row h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: rgb(233, 132, 9);
}
#contact .row .mb-3 label {
  font-size: 20px;
  font-weight: 600;
}
#contact .row .mb-3 ::placeholder {
  color: white;
  font-weight: 400;
}
#contact .row .mb-3 input {
  background-color: rgba(144, 82, 5, 0.2);
  color: white;
  font-weight: 400;
}
#contact .row .mb-3 textarea {
  background-color: rgba(144, 82, 5, 0.2);
  color: white;
  height: 70px;
}
#contact .row .btn {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgba(144, 82, 5, 1);
  padding: 5px 20px;
  margin-top: 50px;
  transform: 0.4;
}
#contact .row .btn:hover {
  transform: scale(1.3);
}
