<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/hero.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body id="hero">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img src="/photos/logo.jpg" style="width: 70px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fest/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fest/event">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fest/result">Result</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/fest/contact">Contact-us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Log In As
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/fest/reg">Student</a></li>
                  <li><a class="dropdown-item" href="/fest/admin">Admin</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- body -->
    <div class="slider">
      <div class="list">
        <div class="item">
          <img src="/photos/5.jpg" alt="" />

          <div class="content">
            <div class="title">TECH FEST</div>
            <div class="type">SCIENCE FAIR</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              temporibus quis eum consequuntur voluptate quae doloribus
              distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Sequi, aut.
            </div>
            <div class="button">
              <button>
                <A
                  href="fest/event/66eab42352ce5fe52dca80a1"
                  style="text-decoration: none "
                  >SEE MORE</A
                >
              </button>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/photos/6.jpg" alt="" />

          <div class="content">
            <div class="title">TECH-FEST</div>
            <div class="type">MATH OLYMPIAD</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              temporibus quis eum consequuntur voluptate quae doloribus
              distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Sequi, aut.
            </div>
            <div class="button">
              <button><A href="/fest/event/66eab42352ce5fe52dca80a2">SEE MORE</A></button>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/photos/10.jpg" alt="" />

          <div class="content">
            <div class="title">TECH-FEST</div>
            <div class="type">ART-EXIBITION</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              temporibus quis eum consequuntur voluptate quae doloribus
              distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Sequi, aut.
            </div>
            <div class="button">
              <button> <A href="/fest/event/66eab42352ce5fe52dca80a3">SEE MORE</A></button>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/photos/11.jpg" alt="" />

          <div class="content">
            <div class="title">TECH-FEST</div>
            <div class="type">WINTER CONCEPT</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              temporibus quis eum consequuntur voluptate quae doloribus
              distinctio. Possimus, sed recusandae. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Sequi, aut.
            </div>
            <div class="button">
              <button><A href="/fest/event/66eab42352ce5fe52dca80a5">SEE MORE</A></button>
            </div>
          </div>
        </div>
      </div>
      <div class="thumbnail">
        <div class="item">
          <img src="/photos/5.jpg" alt="" />
        </div>
        <div class="item">
          <img src="/photos/6.jpg" alt="" />
        </div>
        <div class="item">
          <img src="/photos/10.jpg" alt="" />
        </div>
        <div class="item">
          <img src="/photos/11.jpg" alt="" />
        </div>
      </div>

      <div class="arrowButtons">
        <button class="prev"><</button>
        <button class="next">></button>
      </div>
    </div>
    <!-- about Section -->
    <div id="about">
      <h1>About CollegeFest</h1>

      <div id="containor">
        <div class="subcontai">
          <div id="img"></div>
        </div>
        <div id="right" class="subcontai">
          <div id="heading">
            <div class="head" id="heading1">
              <h2 id="freeSwag"> Free Swag</h2>
            </div>
            <div class="head" id="heading2">
              <h2 id="uniqueEx">
                 Unique Experience
              </h2>
            </div>
          </div>
          <div class="content" id="content1">
            <p>
              At CollegeFest we bring together brands and college students to
              create unforgettable experiences. Our large lifestyle events allow
              students to explore their cities and get rewarded just for being
              students, while the vendors & brands are able to market
              effectively to thousands of college students. Our goal is to
              create unique experiences for both students and vendors.
              <br /><br />

              CollegeFest has been around over 35 years, and started at the
              Boston University Armory. Our Flagship event will be taking place
              at Citizens House of Blues Boston in 2024 and attracts over 10,000
              students.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------   Footer-------------- -->
    <footer class="Sticky-bottom">
      <div class="footer-content">
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        <ul class="footer-links">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
        <div class="social-media">
          <a href="https://facebook.com/yourprofile" target="_blank"
            >Facebook</a
          >
          |
          <a href="https://twitter.com/yourprofile" target="_blank">Twitter</a>
          |
          <a href="https://instagram.com/yourprofile" target="_blank"
            >Instagram</a
          >
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/about.js"></script>
    <script src="/jsvascript/hero.js"></script>
  </body>
</html>
